<section>
  <span id="count-overdue"><%= overdue.length %></span>
  <ul>
    <% overdue.forEach(todo => { %>
      <li><%= todo.title %></li>
    <% }); %>
  </ul>
</section>

<section>
  <span id="count-duetoday"><%= duetoday.length %></span>
  <ul>
    <% duetoday.forEach(todo => { %>
      <li><%= todo.title %></li>
    <% }); %>
  </ul>
</section>

<section>
  <span id="count-duelater"><%= duelater.length %></span>
  <ul>
    <% duelater.forEach(todo => { %>
      <li><%= todo.title %></li>
    <% }); %>
  </ul>
</section>
