<section>
  <h5>Overdue (<span id="cou-overdue"><%= overdue.length %></span>)</h5>
  <ul>
    <% overdue.forEach(todo => { %>
      <li><%= todo.title %></li>
    <% }); %>
  </ul>
</section>

<section>
  <h5>Due Today (<span id="cou-duetoday"><%= duetoday.length %></span>)</h5>
  <ul>
    <% duetoday.forEach(todo => { %>
      <li><%= todo.title %></li>
    <% }); %>
  </ul>
</section>

<section>
  <h5>Due Later (<span id="cou-duelater"><%= duelater.length %></span>)</h5>
  <ul>
    <% duelater.forEach(todo => { %>
      <li><%= todo.title %></li>
    <% }); %>
  </ul>
</section>
