<h5 class="font-bold inline">Overdue</h5> <span id="count-overdue" class="ml-1 font-bold"><%- odTodos.length %></span>
<table>
    <% for(var i=0; i < odTodos.length ;i++){ %>
        <tr>
            <td class="group flex items-center">
                <input id="todoCheck<%= odTodos[i].id %>" type="checkbox" class="mr-2" onclick="updateTodo(`<%= odTodos[i].id %>`);" <%= odTodos[i].completed? "checked":"" %> >
                <label for="todoCheck<%= odTodos[i].id %>" class="cursor-pointer Todo-Item"><%= odTodos[i].title %></label>
                <a href="" onclick="deleteTodo(`<%= odTodos[i].id %>`);" class="hidden ml-1 group-hover:inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                </a>
            </td>
        </tr>
        <% } %> 
</table>
<h5 class="font-bold inline">Due Today</h5> <span id="count-due-today" class="ml-1 font-bold"><%- dtTodos.length
        %></span>
<table>
    <% for(var i=0; i < dtTodos.length ;i++){ %>
        <tr>
            <td class="group flex items-center">
                <input id="todoCheck<%= dtTodos[i].id %>" type="checkbox" class="mr-2" onclick="updateTodo(`<%= dtTodos[i].id %>`);" <%= dtTodos[i].completed? "checked":"" %> >
                <label for="todoCheck<%= dtTodos[i].id %>" class="cursor-pointer Todo-Item"><%= dtTodos[i].title %></label>
                <a href="" onclick="deleteTodo(`<%= dtTodos[i].id %>`);" class="hidden ml-1 group-hover:inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                </a>
            </td>
        </tr>
        <% } %>
</table>
<h5 class="font-bold inline">Due Later</h5> <span id="count-due-later" class="ml-1 font-bold"><%- dlTodos.length
        %></span>
<table>
    <% for(var i=0; i < dlTodos.length ;i++){ %>
        <tr>
            <td class="group flex items-center">
                <input id="todoCheck<%= dlTodos[i].id %>" type="checkbox" class="mr-2" onclick="updateTodo(`<%= dlTodos[i].id %>`);" <%= dlTodos[i].completed? "checked":"" %> >
                <label for="todoCheck<%= dlTodos[i].id %>" class="cursor-pointer Todo-Item"><%= dlTodos[i].title %></label>
                <a href="" onclick="deleteTodo(`<%= dlTodos[i].id %>`);" class="hidden ml-1 group-hover:inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                </a>
            </td>
        </tr>
        <% } %>
</table>
<h5 class="font-bold inline">Completed Items</h5> <span id="count-completed" class="ml-1 font-bold"><%- ciTodos.length
        %></span>
<table>
    <% for(var i=0; i < ciTodos.length ;i++){ %>
        <tr>
            <td class="group flex items-center">
                <input id="todoCheck<%= ciTodos[i].id %>" type="checkbox" class="mr-2" onclick="updateTodo(`<%= ciTodos[i].id %>`);" <%= ciTodos[i].completed? "checked":"" %> >
                <label for="todoCheck<%= ciTodos[i].id %>" class="cursor-pointer Todo-Item"><%= ciTodos[i].title %></label>
                <a href="" onclick="deleteTodo(`<%= ciTodos[i].id %>`);" class="hidden ml-1 group-hover:inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                </a>
            </td>
        </tr>
        <% } %>
</table>
